.container {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 5px;
}
.onNavbar.container {
  margin: 0 30px;
}
.prompt {
  opacity: 0.7;
  font-size: 0.95em;
  color: #00c9c9;
}
.digit {
  font-weight: bold;
}
.long .label {
  margin: 0 5px;
  font-size: 0.66em;
  color: #a2a2a2;
}
.label {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  color: black;
  font-weight: bold;
  margin: 0 2px;
}

@media (max-width: 840px) {
  .onNavbar.container {
    display: none !important;
  }
}