.hero {
  margin-top: 78px;
  background-color: antiquewhite;
  padding: 60px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroAssetContainer {
  width: 50%;
  max-width: 520px;
}

.main {
  margin-top: -38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 64px;
}

/* Content */

.contentContainer {
  width: 50%;
  min-height: 480px;
  margin-bottom: 64px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.headerLeft {
  width: 50%;
}

.title {
  margin-bottom: 0;
}

.artist {
  margin-top: 0;
  margin-bottom: 0;
}

.headerRight {
  width: 50%;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
}

.value {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.divider {
  border-bottom: 2px solid #333;
  margin: 24px 0;
}

.description {
  margin-top: 32px;
}

/* More items */

.moreItemsContainer {
  width: 50%;
}

.moreItemsHeader {
  width: 100%;
}

.carouselContainer {
  width: 100%;
}
