.IconLink {
  font-size: 16px;
  margin: 0 6px;
  display: inline-block;
}
.IconLink:first-child {
  padding-left: 0;
}

.IconLink,
.IconLink a:link,
.IconLink a:visited {
  color: #e0bd70;
}

.IconLink span {
  display: none;
  font-size: 20px;
}

@media (min-width: 375px) {
    .IconLink {
        font-size: 20px;
    }
}

@media (min-width: 408px) {
    .IconLink {
        font-size: 24px;
    }
}

@media (min-width: 640px) {
  .IconLink span {
    display: inline;
  }
}