.ProductContainer {
    display: flex;
    justify-content: center;
}

.JoinMemberFormContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 18px;
}

.TopSection h2,
.TopSection p {
    text-align: center;
    font-weight: 900;
}

@media (min-width: 764px) {
    .ProductAndForm {
        display: flex;
        justify-content: space-between;
    }
    .JoinMemberFormContainer {
        flex: 1;
        justify-content: flex-end;
    }
}