.container {
  color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  max-width: 600px;
  padding: 0 16px;
  margin: 200px auto;
}
.submitWorkFooter {
  background: white;
}

.container > h3 {
  text-transform: uppercase;
}

.container p {
  font-size: 1.3rem;
  max-width: 600px;
  line-height: 1.5;
  font-weight: 300;
  z-index: 3;
  position: relative;
  background: white;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0.25em;
  padding-bottom: 0.75em;
}

.form > iframe {
  margin-top: -80px;
  overflow: hidden;
}

.form :global(.formHeader) {
  display: none !important;
}

:global(.formDesignerView .form .formHeader, .sharedForm .formHeader) {
  display: none !important;
}
