.NavBar {
    padding: 4px 16px;
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.PrimaryIcons {
    color: white;
    font-size: 24px;
    display: flex;
}

.PrimaryIcons a:link,
.PrimaryIcons a:visited {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 24px;
    padding: 4px;
}

.PrimaryIcons a:hover {
    background-color: #ee8e7073;
}
.Main {
    min-height: 100vh;
    height: 100%;
    margin-top: 80px;
}
.Main > iframe {
    min-height: 100vh;
}

.logo {
    font-family: Helvetica, Helvetica Neue, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #1bd3a5;
    font-size: 22px;
    line-height: 30px;
    margin-top: 4px;
}

.socialLinks {
    text-align: right;
    flex: 1;
    margin-top: 5px;
}
@media (max-width: 630px) {
    .socialLinks .socialIcons {
        display: none;
    }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 99;
    background: white;
}
.navbarContent {
    max-width: 1160px;
    margin: auto;
    width: 100%;
    display: flex;
}
.submitLink {
    vertical-align: top;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #1bd3a5 !important;
}

:global(a) {
    color: #1fbe96;
}