.carousel {

}

.items {
  display: flex;
  flex-direction: row;
  flex-basis: 3.5;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollIndicator {
  /* height: 32px;
  width: 32px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 32px;
  border: 1px solid #aaa;
  background-color: #ddd; */
}
