/* font face Bai Jamjuree */

/* Regular Weight Variants */

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 200;
  src: local('Bai Jamjuree ExtraLight Regular'), url('/assets/baijamjuree/BaiJamjuree-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 300;
  src: local('Bai Jamjuree Light Regular'), url('/assets/baijamjuree/BaiJamjuree-Light.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  src: local('Bai Jamjuree Regular'), url('/assets/baijamjuree/BaiJamjuree-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  src: local('Bai Jamjuree Medium Regular'), url('/assets/baijamjuree/BaiJamjuree-Medium.woff') format('woff');
}

@font-face {
  font-family: 'BaiJamjuree';
  font-style: normal;
  font-weight: 600;
  src: local('Bai Jamjuree SemiBold Regular'), url('/assets/baijamjuree/BaiJamjuree-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  src: local('Bai Jamjuree Bold'), url('/assets/baijamjuree/BaiJamjuree-Bold.woff') format('woff');
}

/* Italic Weight Variants */

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-weight: 200;
  src: local('Bai Jamjuree ExtraLight Italic'), url('/assets/baijamjuree/BaiJamjuree-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-weight: 300;
  src: local('Bai Jamjuree Light Italic'), url('/assets/baijamjuree/BaiJamjuree-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-weight: 400;
  src: local('Bai Jamjuree Italic'), url('/assets/baijamjuree/BaiJamjuree-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-weight: 500;
  src: local('Bai Jamjuree Medium Italic'), url('/assets/baijamjuree/BaiJamjuree-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-style: italic;
  font-weight: 600;
  src: local('Bai Jamjuree SemiBold Italic'), url('/assets/baijamjuree/BaiJamjuree-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree Bold';
  font-style: italic;
  font-weight: 700;
  src: local('Bai Jamjuree Bold Italic'), url('/assets/baijamjuree/BaiJamjuree-BoldItalic.woff') format('woff');
}
