.Root {
    display: flex;
    width: 100%;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;
    ;
}

.Icon {
    font-size: 40px;
    padding: 8px;
}

.Title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.Info {
    flex: 1;
    padding: 0px 8px;
}

a.FlexLink {
    color: #bbb;
    text-decoration: none;
}

a.FlexLink:hover {
    color: white;
}