.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px 16px;
    background: #fbfbfb;
}
.footer > .center {
    max-width: 1160px;
    margin: auto;
}
.center > span {
    display: inline-block;
    vertical-align: middle;
}
.FooterSocialIcons {
    display: flex;
    justify-content: center;
}

.FooterCopyright {
    font-size: 14px;
    color: #c0c1c3;
}
a.buyEth {
    font-size: 14px;
    color: #1bd3a5;
    text-decoration: underline;
    white-space: nowrap;
}

.FooterCopyright>* {
    margin: 2px;
}

.JoinMemberLink {
    text-align: center;
}

.JoinMemberLink a:link,
.JoinMemberLink a:visited {
    color: white;
}